body {
    color: white;
    background-color: black;
    font-family: sans-serif;
    overflow-wrap: anywhere;
}

.button {
    border: 0.05em;
    border-radius: 100%;
    border-style: solid;
    border-color: #222;
    margin: 0.15em 0.1em;
    width: 1.6em;
    height: 1.6em;
    transition-duration: 100ms;
}

.number {
    margin: 10% 20%;
    font-size: large;
}
