body {
    color: white;
    background-color: black;
    font-family: sans-serif;
    overflow-wrap: anywhere;
    margin: 7.5% 25%
}

.button {
    border: 0;
    border-radius: 100%;
    border-style: solid;
    border-color: #222;
    margin: 0.15em;
    width: auto-fit;
    min-width: 3em;
    height: 3em;
    transition-duration: 100ms;
    font-size: large;
    outline: none;
}

.button.disabled {
    background-color: black;
    color: white;
}

.button.hover {
    transition-duration: 50ms;
    background-color: tomato;
}

.button.removed {
    visibility:hidden;
    transition-duration: 0ms;
}

.button.big {
    width: 15em;
    height: 15em;
}

.number {
    margin: 10% 20%;
    font-size: large;
}
