body {
    color: white;
    background-color: black;
    font-family: sans-serif;
    overflow-wrap: anywhere;
    margin: 7.5% 25%
}

.button {
    border: 0.05em;
    border-radius: 100%;
    border-style: solid;
    border-color: #222;
    margin: 0.15em 0.1em;
    width: 3em;
    height: 3em;
    transition-duration: 100ms;
    font-size: large;
    outline: none;
}

.button.big {
    width: 15em;
    height: 15em;
}

.number {
    margin: 10% 20%;
    font-size: large;
}
